// Normally mainpage styles
body
	min-height: 100%
	position: relative 
.sidebar
	width: 144px 
	position: fixed
	left: 0
	top: 0
	bottom: 0
	background: #fff    
	border-right: 1px solid #CECECE 
	text-align: center
	padding-top: 34px 
	.sidebar__fb
		position: absolute
		bottom: 50px 
		left: 56px 
		+s(fb)
		&:hover
			+sp(fbh)
	.logo
		display: inline-block
		+s(logo)
		+hide-text
		margin-bottom: 55px 
	.gnav
		list-style: none
		text-transform: uppercase
		li
			margin-bottom: 43px 
		a
			color: #020303 
			font-weight: bold
			text-decoration: none
			width: 90px
			text-align: center 
			display: block
			margin: 0 auto 
			padding-bottom: 3px 
			border-bottom: 4px solid #fff  
			&:hover
				color: #2C8674
			&.is-active
				color: #2C8674
				border-bottom: 4px solid #2C8674  
.nav
	position: fixed
	left: 175px 
	top: 10px 
	z-index: 20 
	top: 170px 
	z-index: 200 
	margin-left: -200px 
	+transition(all .3s ease-in-out)
	.is-bottom &
		margin-left: 0
	
	a,span
		display: block
		width: 7px 
		height: 7px
		background: #C5C5C5
		margin-bottom: 21px  
		border-radius: 7px 
		+hide-text
		cursor: pointer
		&:first-child
			display: none
		&.is-active,&.cycle-pager-active
			background: #2C8675 
.slides
	position: absolute
	bottom: 0
	right: 0
	top: 0
	left: 145px    
.slide
	height: 100%
	width: 100% 
	background: #fff
	background-repeat: no-repeat 
	background-position: 50% 50% 
	&.slide_cover
		+cover
	&.slide_full
		background-size: contain 
.slide
	position: relative
.manifest
	position: absolute
	top: 50%
	left: 50%
	margin: -195px 0 0 -180px
	.manifest__fb,.manifest__vk
		position: absolute
		bottom: 3px
		left: 50%
		width: 62px  
		height: 62px 
		left: 178px 
	.manifest__fb
		left: 108px 
		 
.cols
	width: 80%
	margin: 0 auto
	font-size: 16px 
	color: #000000
	padding-top: 100px 
	p
		margin-bottom:  .6em
	h3
		font-size: 24px 
		font-weight: bold
		color: #008E7C
		text-transform: uppercase
		margin-bottom: 1em  
	.col
		float: left 
		width: 45%
	.col+.col 
		float: right
		width: 45% 

.start
	width: 100%
	overflow: hidden 
.green
	background: #008D7C 
.g1
	width: 20%
	height: 236px 
	float: left
.g2
	width: 40%
	height: 236px 
	float: left
.gbig
	height: 490px 
	float: left
	width: 40% 
.g3,.g4
	width: 20%
	float: left
.g3
	height: 236px
	margin-bottom: 2px 
.g4
	height: 252px 
.glogo
	float: left
	width: 40%
	position: relative
	height: 490px 
	.glogospan
		height: 236px 
	.glogo_1,.glogo_2
		width: 50%
		float: left
		height: 254px  
	img
		position: absolute
		left: 52px 
		top: 38px 
		width: 80% 
		display: block
.green
	&:before
		position: absolute
		right: 0  
		width: 2px 
		background: #fff 
		height: 100%
		top: 0
		bottom: 0  
		content: ' '
		z-index: 200 
	&:after
		position: absolute
		bottom: 0  
		height: 2px 
		background: #fff 
		left: 0
		right: 0  
		content: ' '
		z-index: 200 
.zoom
	overflow: hidden
	position: relative
	&:before
		position: absolute
		right: 0  
		width: 2px 
		background: #fff 
		height: 100%
		top: 0
		bottom: 0  
		content: ' '
		z-index: 200 
	&:after
		position: absolute
		bottom: 0  
		height: 2px 
		background: #fff 
		left: 0
		right: 0  
		content: ' '
		z-index: 200 
	&:hover
		div
			+transform(scale(1.2))
	div
		+transition(all .6s linear)
		+cover
		position: absolute
		top: 0
		left: 0
		width: 100%   
		height: 100% 