// Normally mainpage styles
body
	min-height: 100%
	position: relative 
.sidebar
	width: 144px 
	position: fixed
	left: 0
	top: 0
	bottom: 0
	background: #fff    
	border-right: 1px solid #CECECE 
	text-align: center
	padding-top: 34px 
	.logo
		display: inline-block
		+s(logo)
		+hide-text
		margin-bottom: 55px 
	.gnav
		list-style: none
		text-transform: uppercase
		li
			margin-bottom: 43px 
		a
			color: #020303 
			font-weight: bold
			text-decoration: none
.nav
	position: fixed
	left: 175px 
	top: 10px 
	z-index: 20 
	top: 170px 
	z-index: 200 
	a,span
		display: block
		width: 7px 
		height: 7px
		background: #C5C5C5
		margin-bottom: 21px  
		border-radius: 7px 
		+hide-text
		cursor: pointer
		&.is-active,&.cycle-pager-active
			background: #2C8675 
.slides
	position: absolute
	bottom: 0
	right: 0
	top: 0
	left: 145px    
.slide
	height: 100%
	width: 100% 
	background: #fff
	background-repeat: no-repeat 
	background-position: 50% 50% 
	&.slide_cover
		+cover
	&.slide_full
		background-size: contain 